<!-- About Section -->
<section id="about" class="container">
    <div class="row">
        <h2>ABOUT</h2>
        <div class="casestudies">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">                
                <img class="thumbnail pull-left" src="/img/me.png" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>Andrew Hoefling</h2>
                <h3>Owner | Developer</h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h3>Mobile Application Development</h3>
            <p>
            We specialize in cross-platform mobile app development using the latest technologies in Xamarin and Xamarin.Forms. This allows us to have 1 code base that is shared amongst all the popular mobile devices.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h3>Web Applicaiton Development</h3>
            <p>We provide custom Web Applicaitons which solve from a range of business problems that require a little bit of interaction with the end user outside of browser static content.</p>
            <p>A properly build web applicaiton will allow your users to have a better User Experience (UX) and get more value out of visiting your website.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h3>Website Development</h3>
            <p>Custom websites set you apart from the competition, a properly designed website that is easy on the eyes and has a straight forward User Experience (UX) will allow your business to drive more sales. We offer design work that allows you to see what the website looks like before we write any code.</p>
        </div>
    </div>
</section>