    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Hoefling Software</h2>
              <br/>
              <p>Hoefling Software is a software consulting company that can provide a custom software solutions. We specialize in the Microsoft Stack of technology.
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor pellentesque mauris. Mauris orci velit, porttitor et lacinia id, venenatis in dolor. Suspendisse in accumsan orci. Mauris ut nulla euismod, tincidunt sapien ut, facilisis velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi fringilla, velit ac porttitor tincidunt, nulla urna hendrerit lacus, eget aliquet ante lectus ac dolor.</p>
              <p>Etiam ultricies augue ligula, sed congue justo luctus ac. Etiam vitae varius justo. Etiam ullamcorper ultrices massa, vel facilisis massa cursus vel. Etiam vitae semper nisi, quis sollicitudin nisi. In hac habitasse platea dictumst. Nullam erat mauris, egestas non dolor in, maximus eleifend elit. Suspendisse at nulla mi. Phasellus faucibus eleifend pulvinar. Suspendisse viverra enim in nisi egestas convallis.</p>
              <br/>
              </div>
        </div>
    </section>
