<!-- Footer -->
<footer>
    <div class="container">
        <div class="pull-left">
            {{ site.copyright }}
        </div>
        <div class="pull-right">
            <a href="mailto:andrew@hoeflingsoftware.com"><img class="icon" src="/img/icons/email.svg" /></a>
            <a href="https://twitter.com/andrew_hoefling" target="_blank"><img class="icon" src="/img/icons/twitter.svg" /></a>
            <a href="https://github.com/ahoefling" target="_blank"><img class="icon" src="/img/icons/github.svg" /></a>
            <a href="https://www.linkedin.com/in/andrew-hoefling/" target="_blank"><img class="icon" src="/img/icons/linkedin.svg" /></a>
        </div>
    </div>
</footer>
