<!-- Footer -->
<footer>
    <div class="container">
        <div class="pull-left">
            {{ site.copyright }}
        </div>
        <div class="pull-right">
            <a href="mailto:{{ site.email }}"><img class="icon" src="/img/icons/email.svg" /></a>
            <a href="{{ site.twitter }}" target="_blank"><img class="icon" src="/img/icons/twitter.svg" /></a>
            <a href="{{ site.github }}" target="_blank"><img class="icon" src="/img/icons/github.svg" /></a>
            <a href="{{ site.linkedin }}" target="_blank"><img class="icon" src="/img/icons/linkedin.svg" /></a>
        </div>
    </div>
</footer>
