<!-- About Section -->
<section id="work" class="container content-section text-center">
    <div class="row">
        <h2 class="content-heading">Tech Stack</h2>
        <h4 class="content-heading">Mobile | Web | Desktop | Cloud</h4>
        <div class="casestudies">
            {% for tech in site.tech %}
            <div class="col-xs-4 col-sm-3 col-lg-3">
                <img src="/img/icons/{{ tech.icon }}" />
                <div class="icon-label">{{ tech.title }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>